/* CSS Reset */

nav ul, nav ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

/* End reset */

body{
    background-color: black;
}

.biglist{
    font-weight: bold;
    font-size: larger;
}

.smalllist{
    font-weight: 100;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;

}

.light a{
    color: black;
}

.dark a{
    color: white;
}

main ul{
    /* background-color: rebeccapurple; */
    /* border: 1px red solid; */
    max-width: 30%;
    max-height: 500px;
    margin: auto;
    list-style-type: none;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    /* max-height: 500px; */
    flex-wrap: wrap;
    text-align: left;
}

a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.darkbtn{
    color: black;
    background-color: white;
}

.lightbtn{
    color: white;
    background-color: black;
}